body{
    background-color:rgb(34, 34, 34);
    color: rgb(255, 123, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}

a{
color: rgb(255, 145, 0);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: rgb(255, 120, 0);
    transition: 0.3s all;
}

.container {
    width: 114%;
    min-height: 450vh;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color:rgb(34, 34, 34);
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border-radius: 20px;
    box-shadow: rgba(255, 115, 0, 0.35) 0px 5px 30px;
    cursor: pointer;
    width: 270px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#672abf, #380e74);
}

.card .img {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url('./assets/Evelynn.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 300px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 40px;
}

.card .content {
    padding: 0px 15px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 23px;
    font-weight: 900;
    color: rgb(255, 137, 35);
}

.card .content .desc {
    font-size: 20px;
    font-weight: 800;
    opacity: .8;
    margin-top: 8px;
    color: rgb(255, 137, 35);
}

.card .arrow {
    padding: 60px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

.btn-login {
    width: 80%;
    padding: 20px 0px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 3800;
    letter-spacing: 3px;
    color: rgb(255, 0, 0);
    background: rgb(255, 94, 0);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(255, 136, 0);
}

.btn-login:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media only screen and (max-width: 950px){
    .title{
        width: 85%;
    }
}